// Piwik
script(type='text/javascript').
  var _paq = _paq || [];
  _paq.push(["setDomains", ["*.taskfight.com","*.taskfight.net","*.taskfight.org"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
  var u='#{'' + process.env.PIWIK_URL}' ;
  _paq.push(['setTrackerUrl', u+'piwik.php']);
  _paq.push(['setSiteId', #{process.env.PIWIK_SITE_ID || 0}]);
  var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
  g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
noscript
  p
    img(src='//piwik.rhumaric.com/piwik.php?idsite=2', style='border:0;', alt='')
// End Piwik Code
